<!doctype html>
<html class="no-js" lang="en" ng-app>
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Application</title>
      <link rel="stylesheet" href="css/foundation.css" />
      <script src="js/vendor/modernizr.js"></script>
      <link rel="stylesheet" href="webicons-master/webicons.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.min.js"></script>
      <script src="js/todo.js"></script>
      <link rel="stylesheet" href="css/todo.css">
      <link href="css/sticky-footer-navbar.css" rel="stylesheet">

  </head>
  <body>
      <!-- Header -->
      <img src="img/header.png"></img>
      <nav class="top-bar" data-topbar>
          <div class="row">
              <section class="top-bar-section">
                  <!-- Right Nav Section -->
                  <ul class="right">
                      <li><a href="#">Help</a></li>
                  </ul>
                  <ul class="right">
                      <li><a href="#">Contact Us</a></li>
                  </ul>
                  <ul class="right">
                      <li><a href="#">Cymraeg</a></li>
                  </ul>
                  <ul class="right">
                      <li><a href="sahome.html">Home</a></li>
                  </ul>
                  <ul class="right">
                      <li><a href="sahome.html"></a></li>
                  </ul>
                  <ul class="right">
                      <li><a href="sahome.html"></a></li>
                  </ul>
              </section>
              </nav>
      </div>




    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="row">
        <div class="large-6 push-6 columns">
            
            <div class="signup-panel">
                <br>
                <br>
                <br>
                <br>
                <br>
                <p style="text-align:center"; class="welcome">Why not share your experience</p>
                <center><a class="webicon facebook large" href="http://www.facebook.com">Facebook</a>
                    <a class="webicon linkedin large" href="http://www.linkedin.com">LinkedIn</a>
                    <a class="webicon twitter large" href="http://www.twitter.com">Twitter</a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
            </div>
            
        </div>
        
        
        <!-- Nav Sidebar -->
        <!-- This is source ordered to be pulled to the left on larger screens -->
        <div class="large-6 pull-6 columns">
            
            <div class="signup-panel">

                <p class="welcome">Congratulations, You are complete! </p>
                <div ng-controller="TodoCtrl">
                    <ul class="unstyled">
                        <a ng-repeat="todo in todos">
                            <p>
                            <input type="checkbox" ng-model="todo.done">
                                <span class="done-{{todo.done}}">{{todo.text}}</span>
                            </p>
                        </a>
                    </ul>
                    <form ng-submit="addTodo()">
                        <input type="text" ng-model="todoText"  size="30"
                            placeholder="add new todo here">
                            <input class="btn-primary" type="submit" value="add">
                                </form>
                </div>


            </div>
        </div>
        
    </div>

    
  </body>
</html>
